<%= form_for @listing, html: { multipart: true } do |f| %>

	<% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title, autofocus: true %>
	</p>

	<p>
		<%= f.label :tag_list, "Tags (seperated by comma)" %><br>
		<%= f.text_field :tag_list, placeholder: "non-smoker, clean room" %>
	</p>

	<p>
		<%= f.label :home_type, "Home Type" %><br>
		<%= f.text_field :home_type %>
	</p>

	<p>
		<%= f.label :room_type, "Room Type" %><br>
		<%= f.text_field :room_type %>
	</p>

	<p>
		<%= f.label :accomodate %><br>
		<%= select(:listing, :accomodate, [[1], [2], [3], [4], [5], [6], [7], [8]]) %>
	</p>

	<p>
		<%= f.label :location %><br>
		<%= f.text_field :location %>
	</p>

	<p>
		<%= f.label :country %><br>
		<%= select(:listing, :country, [["Malaysia"], ["Singapore"]]) %>
	</p>

	<p>
		<%= f.label :price, "Price Per Night" %><br>
		<%= f.number_field :price, min: 1 %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :main_image %>
		<% if @listing.main_image.present? %>
			<p>
					<strong>Update / Remove Image</strong>
			</p>
			<%= f.file_field :main_image %>
			<%= cl_image_tag @listing.main_image, :width=>50, :height=>50, :crop=>:fill %>
	  	<%= f.label :remove_image %>
			<%= f.check_box :remove_main_image %>
		<% else %>
			<%= f.file_field :main_image %>
		<% end %>
 	</p>

 	<p>
 		<%= f.label :sub_image_one, "Sub Image 1" %>
 		<% if @listing.sub_image_one.present? %>
 			<p>
 				<strong>Update / Remove Image</strong>
 			</p>
			<%= f.file_field :sub_image_one %>
			<%= cl_image_tag @listing.sub_image_one, :width=>50, :height=>50, :crop=>:fill %>
    	<%= f.label :remove_image %>
  		<%= f.check_box :remove_sub_image_one %>
  	<% else %>
  		<%= f.file_field :sub_image_one %>
   	<% end %>
  </p>

  <p>
		<%= f.label :sub_image_two %>
	 	<% if @listing.sub_image_two.present? %>
 			<p>
				<strong>Update / Remove Image</strong>
			</p>
 			<%= f.file_field :sub_image_two %>
			<%= cl_image_tag @listing.sub_image_two, :width=>50, :height=>50, :crop=>:fill %>
    	<%= f.label :remove_image %>
  		<%= f.check_box :remove_sub_image_two %>
  	<% else %>
  		<%= f.file_field :sub_image_two %>
   	<% end %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>