<%= form_for @listing, html: { multipart: true } do |f| %>

	<% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title, autofocus: true %>
	</p>

	<p>
		<%= f.label :tag_list, "Tags (seperated by comma)" %><br>
		<%= f.text_field :tag_list, placeholder: "non-smoker, clean room" %>
	</p>

	<p>
		<%= f.label :home_type, "Home Type" %><br>
		<%= f.text_field :home_type %>
	</p>

	<p>
		<%= f.label :room_type, "Room Type" %><br>
		<%= f.text_field :room_type %>
	</p>

	<p>
		<%= f.label :accomodate %><br>
		<%= select(:listing, :accomodate, [[1], [2], [3], [4], [5], [6], [7], [8]]) %>
	</p>

	<p>
		<%= f.label :location %><br>
		<%= f.text_field :location %>
	</p>

	<p>
		<%= f.label :price, "Price Per Night" %><br>
		<%= f.number_field :price, min: 1 %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>

	<p>
		<% if @listing.sub_image_one.present? %>
			<%= cl_image_tag @listing.sub_image_one, :width=>50, :height=>50, :crop=>:fill %>
    	<%= f.label :remove_image %>
  		<%= f.check_box :remove_sub_image_one %>
   	<% end %>

   	<% if @listing.sub_image_two.present? %>
			<%= cl_image_tag @listing.sub_image_two, :width=>50, :height=>50, :crop=>:fill %>
    	<%= f.label :remove_image %>
  		<%= f.check_box :remove_sub_image_two %>
   	<% end %>
	</p>

	<p>
		<%= f.label :images, "Images (Hold Ctrl / Shift to select multiple images)" %><br>
    <%= f.file_field :sub_image_one, multiple: true %>
    <%= f.hidden_field :images_cache %>
	</p>

	<p>
		<%= f.label :sub_image_one %>
		<%= f.file_field :sub_image_one %>
	</p>

	<p>
		<%= f.label :sub_image_two %>
		<%= f.file_field :sub_image_two %>	
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>