<div class="container">
	<div class="row">
		<div class="tagging">
			<div id="tag_cloud">
				<%= form_tag ('/tags'), method: :get do %>
				  <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
				  	<%= check_box_tag "#{tag.id}".to_sym, tag.name, false, {:multiple => true} %>
				  	<%= label_tag (tag.name) %>
				  <% end %>
				  <%= submit_tag value="Tagging Search", class: "btn btn-default" %>
			  <% end %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<% if @listings.blank? %>
			<h3><%= @error %></h3>
		<% end %>
		<% @listings.each do |listing| %>
			<div class="col-md-4">
				<% if listing.read_attribute(:main_image).nil? %>
        	<%= link_to (cl_image_tag ("no-image-found.jpg"), :width=>300, :height=>300, :crop=>:scale), listing %>
        <% else %>
					<%= link_to (cl_image_tag listing.main_image, :width=>300, :height=>300, :crop=>:fill), listing %>
				<% end %>
					<h3>
						<%= link_to listing.title, listing %>
					</h3>
				Tags: <%= raw listing.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %>
			</div>
		<% end %>
	</div>
</div>
<br>

<center>
	<div class="digg_pagination">
	  <div class="page_info">
	    <%= page_entries_info @listings %>
	  </div>
	  <%= will_paginate @listings %>
	</div>
</center>