<h1>
	<strong>Title: </strong><%= @listing.title %> by <em><%= @listing.user.name %></em>
</h1>

<p>
	<% @listing.images.each do |image| %>
	<%= image_tag image %>
	<% end %>
</p>

<p>
	<strong>Home Type: </strong><%= @listing.home_type %>
</p>

<p>
	<strong>Room Type: </strong><%= @listing.room_type %>
</p>

<p>
	<strong>Accomodate: </strong><%= @listing.accomodate %>
</p>

<p>
	<strong>Location: </strong><%= @listing.location %>
</p>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
</p>

<h3>Nearby locations</h3>
<ul>
<% for location in @listing.nearbys(100) %>
  <li><%= link_to location.title, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<p>
	<strong>Price Per Night: </strong><%= @listing.price %>
</p>
<p>
	<strong>Description: </strong><%= @listing.description %>
</p>

<div id= "box"></div>

<p>
	<%= link_to "Booking", new_listing_reservation_path(@listing), id: "new_booking", remote: true %>
</p>

<h2>Comment: </h2>

<p>
	<%= render @listing.comments %>
</p>

<% if !current_user.nil? %>
	<h2>Add a comment:</h2>
	
	<p>
		<%= render 'comments/form' %>
	</p>
<% else %>
<p>
	<strong>You must <%= link_to "sign in", new_user_session_path %> to write a comment</strong>
</p>
<% end %>

<p>
	<%= link_to "Edit Listing", edit_listing_path(@listing) %> |

	<%= link_to "Delete Listing", listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete '#{@listing.title}'?"} %>
</p>

<%= link_to "Back", listings_path %>