<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="center">
				<% if @user.avatar.present? %>
					<%= cl_image_tag(avatar_url(@user), class: "avatar-full") %>
				<% elsif @user.image.present? %>
					<%= image_tag(avatar_url(@user), class: "avatar-full") %>
				<% else %>
					<%= cl_image_tag("blank_avatar_hhrxwn.png", class: "avatar-full") %>
				<% end %>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><%= @user.name %></div>
				<% if current_user != @user %>
					<div class="row-space-2">
						<%= link_to "Send Private Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
					</div>
				<% end %>
				<div class="panel-body">
					Email Address<br>
					Phone Number
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<h3>
				<%= @user.name %>'s Listings: 
			</h3>

			<% if @user.listings.exists? %>
				<table>
					<thead>
	      		<tr>
	      			<th style="width: 60px">No.</th>
	      			<th style="width: 160px">Title</th>
	        		<th style="width: 250px">Location</th>
	        	</tr>
	        </thead>

	        <tbody>
						<% @user.listings.each_with_index do |listing, index| %>
							<tr>
								<td style="height: 30px"><%= index + 1 %></td>
								<td style="height: 30px"><%= link_to listing.title, listing_path(listing.id) %></td>
								<td style="height: 30px"><%= listing.city_state %>, <%= listing.country %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<li><strong>No Listing Yet</strong></li>
			<% end %>

			<% if current_user.id == @user.id %>
				<h3>
					Your Listing's Reservations: 
				</h3>

				<table>
					<thead>
	      		<tr>
	      			<th style="width: 60px">No.</th>
	      			<th style="width: 160px">Title</th>
	      			<th style="width: 250px">Location</th>
	        		<th style="width: 220px">Date</th>
	        		<th style="width: 120px">Reservation Page</th>
	        	</tr>
	        </thead>

	        <tbody>
						<% @user.listings.each do |listing| %>
							<% listing.reservations.each_with_index do |reservation, index| %>
								<tr>
									<td style="height: 30px"><%= index + 1 %></td>
									<td style="height: 30px"><%= link_to reservation.listing.title, listing_path(listing.id) %></td>
									<td style="height: 30px"><%= reservation.listing.city_state %>, <%= reservation.listing.country %></td>
									<td style="height: 30px"><%= reservation.check_in_date %> -
									<%= reservation.check_out_date %></td>
									<td style="height: 30px"><%= link_to "Click Here", listing_reservation_path(reservation.listing.id, reservation.id) %></td>
								</tr>
							<% end%>
							<th></th>
						<% end %>
					</tbody>
				</table>

				<h3>
					Your Reservations: 
				</h3>
				<% if @user.reservations.exists? %>
					<table>
						<thead>
		      		<tr>
		      			<th style="width: 60px">No.</th>
		      			<th style="width: 160px">Title</th>
		      			<th style="width: 250px">Location</th>
		        		<th style="width: 220px">Date</th>
		        		<th style="width: 120px">Reservation Page</th>
		        	</tr>
		        </thead>

		        <tbody>
							<% @user.reservations.each_with_index do |reservation, index| %>
								<tr>
									<td style="height: 30px"><%= index + 1 %></td>
									<td style="height: 30px"><%= link_to reservation.listing.title, listing_path(reservation.listing.id) %></td>
									<td style="height: 30px"><%= reservation.listing.city_state %>, <%= reservation.listing.country %></td>
									<td style="height: 30px"><%= reservation.check_in_date %> -
									<%= reservation.check_out_date %></td>
									<td style="height: 30px"><%= link_to "Click Here", listing_reservation_path(reservation.listing.id, reservation.id) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					
				<% else %>
					<li><strong>No Reservation Yet</strong></li>
				<% end %>
			<% end %>	
		</div>
	</div>
</div>
