<h3>Hello, <%= current_user.name %></h3>
<p>
	Listings: 
</p>
<% current_user.listings.each_with_index do |listing, index| %>
<%= index + 1 %>) 
<%= link_to listing.title, listing_path(listing.id) %><br>
<% end %>

<p>
	Reservations: 
</p>
<% if flash[:destroy] %>
	<p><%= flash[:destroy] %></p>
<% end %>

<% current_user.reservations.each_with_index do |reservation, index| %>
	<%= index + 1 %>) 
	<%= reservation.check_in_date %> to 
	<%= reservation.check_out_date %> @ 
	<%= link_to reservation.listing.title, listing_path(reservation.listing.id) %> | 
	<%= link_to "Reservation Page", listing_reservation_path(reservation.listing.id, reservation.id) %><br>
<% end %>