<div class="container">
	<h1>Reservation</h1>
	<h3>Listing Title: </h3>
	<%= @reservation.listing.title %>

	<h3>Book By: </h3>
	<%= @reservation.user.name %>

	<h3>Reservation Date: </h3>
	<%= @reservation.check_in_date %> <strong>to </strong>
	<%= @reservation.check_out_date %>
	<%= link_to "Edit Booking", edit_listing_reservation_path %> | 
	<%= link_to "Cancel Booking", listing_reservation_path(@listing, @reservation), method: :delete, data: {confirm: "Are you sure to cancel this booking ?"} %>
</div>