<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @host.name %></h1>
    <h2>Congratulations! You have received a booking from <%= @customer.name %>, details as below :- </h2>
    <table>
    	<tr>
    		<th style="width:160px">
    			<strong>Title</strong>
    		</th>
  			<th>:</th>
  			<th>
  				<%= @listing.title %>
  			</th>
    	</tr>
    	<tr>
    		<th style="width:160px">
    			<strong>Check In Date</strong>
    		</th>
  			<th>:</th>
  			<th>
  				<%= @reservation.check_in_date %> @ 2pm
  			</th>
    	</tr>
    	<tr>
    		<th style="width:160px">
    			<strong>Check Out Date</strong>
    		</th>
  			<th>:</th>
  			<th>
  				<%= @reservation.check_out_date %> @ 12pm
  			</th>
    	</tr>
    	<tr>
    		<th style="width:160px">
    			<strong>More Info</strong>
    		</th>
  			<th>:</th>
  			<th>
  				<%= @url %>
  			</th>
    	</tr>
		</table>
		<h2>Thank You.</h2>
  </body>
</html>